@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
.sun .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* -------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1A1A1A;
  max-width: 320px;
  margin: auto;
  padding: 2em;
  font-size: clamp(0.875rem, 1vw, 1rem);
}

/* TEMP OF THE DAY PAGE */
h4 {
  color: #a1a1a1;
  font-weight: 500;
}

.daily-meteo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5em;
}
.daily-meteo .localisation {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.daily-meteo .localisation > p:nth-child(2) {
  font-size: 3em;
}
.daily-meteo .localisation button {
  border: none;
  background: none;
  border-radius: 2em;
  width: 70px;
  height: 30px;
  background-color: #353361;
}
.daily-meteo img {
  width: 50%;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
.infos .humidity,
.infos .pressure,
.infos .wind {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}
.infos .humidity img,
.infos .pressure img,
.infos .wind img {
  width: 18px;
}

.sun {
  display: flex;
  justify-content: space-between;
  padding: 2em 0 3em 0;
}
.sun img {
  width: 35px;
}
.sun__rise {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.sun__rise #sunrise {
  background: linear-gradient(30deg, rgb(255, 124, 63) 25%, rgb(255, 212, 102) 85%);
  box-shadow: 0 0 8px 0.5px rgb(255, 212, 132);
}
.sun__set {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.sun__set #sunset {
  background: #FFE2A2;
  box-shadow: 0 0 7px 1px #FFE2A2;
}

section#temp-hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0 2em 0;
  gap: 1em;
}
section#temp-hours .hour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
section#temp-hours .hour p:first-child {
  font-size: clamp(0.875rem, 1vw, 1rem);
}
section#temp-hours .hour img {
  width: 75%;
}

/* CHANGE PAGE */
a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 2em;
  background-color: rgba(53, 51, 97, 0.5);
  margin: 0 auto;
  transition: transform 0.25s ease-in-out;
}
a:hover {
  transform: scale(0.97);
}

/* NEXT DAYS PAGE */
div.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  margin: 2em auto;
  gap: 1.5em;
  font-size: clamp(0.875rem, 1vw, 1rem);
}
div.container div.days {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 1em;
  background: rgba(80, 80, 80, 0.25);
  padding: 15px;
}
div.container div.days p {
  align-self: center;
}
div.container div.days p.temp {
  font-size: 2em;
}
div.container div.days p.wind {
  justify-self: end;
}
div.container div.days p.day_name {
  grid-column: span 2;
  padding-top: 5px;
  justify-self: flex-start;
  align-self: flex-start;
  color: #b1cbf7;
  font-weight: bold;
}
div.container div.days img {
  width: 80%;
  margin: auto auto;
}

/*# sourceMappingURL=style.css.map */
